<div class="row">
    <h1>Experiencia Laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>Trabajo 1</h1>  -
                <h3>(years)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel, eius, veniam atque commodi deleniti natus animi sequi possimus nemo dolorum blanditiis earum aliquid vero, aspernatur culpa harum dicta officia et.</p>
        </ul>
        <ul>
            <li>
                <h1>Trabajo 2</h1>  -
                <h3>(years)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel, eius, veniam atque commodi deleniti natus animi sequi possimus nemo dolorum blanditiis earum aliquid vero, aspernatur culpa harum dicta officia et.</p>
        </ul>
        <ul>
            <li>
                <h1>Trabajo 3</h1>  -
                <h3>(years)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel, eius, veniam atque commodi deleniti natus animi sequi possimus nemo dolorum blanditiis earum aliquid vero, aspernatur culpa harum dicta officia et.</p>
        </ul>
    </div>
</div>